
<%- include("partials/header"); -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/Covid\ Near\ Me.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="color: aqua;">Covid cases count</h1>
            <span class="subheading">Vaccine updates: We see the light in the end of the tunnel </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section>

    <div class="container">
      <div style="margin: 0 auto 20px; text-align: center">
        <h1>California</h1>
        <h2>March 25, 2021</h2>
      </div>

  <div class="container">
    <div style="margin: 0 auto 20px; text-align: center">
      <h1 data-state-role=target>California</h1>
      <h2 data-date-role=today>March 25, 2021</h2>
    </div>
    
      <div class="row text-center" style="margin-left: 0; margin-right: 0;">
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Cumulative Cases to Date<br>
							<span class="count-h2-span">(includes deaths)</span>
						</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="cumulative-cases">249,939</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">4,711&nbsp;SNF residents, 2,314&nbsp;OC jail inmates, and
					916 Persons Experiencing Homelessness</p> -->
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Daily COVID Positive Cases Received</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="daily-positive-cases">97</h3>
						</div>
					</div>
				</div>

				<p style="font-style: italic; color: #636466;">&nbsp;</p>
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Cumulative Deaths to Date<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total casecount-orange">
							<h3 class="casecount-panel-title" data-panel-role="cumulative-deaths">4,665</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">Includes 1,037&nbsp;SNF residents, 511 ALF residents, 1
					OC jail inmates, and 11&nbsp;Persons Experiencing Homelessness</p> -->
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Deaths Reported Today<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total casecount-orange">
							<h3 class="casecount-panel-title" data-panel-role="deaths-today">19</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">0 skilled nursing facility residents,<br>
					0 skilled nursing facility staff,<br>
					0&nbsp;assisted living facility residents,<br>
					0&nbsp;OC Jail inmates,<br>
					0&nbsp;Persons Experiencing Homelessness,<br>
					19 residents (not living in a facility)</p> -->
			</div>
		</div>

		<p>&nbsp;</p>

		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Cumulative Tests To Date<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="cumulative-tests">3,283,859</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">&nbsp;</p> -->
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Tests Reported Today<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="tests-today">12,557</h3>
						</div>
					</div>
				</div>

				<p style="font-style: italic; color: #636466;">&nbsp;</p>
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title" >Cases Currently Hospitalized<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="cases-hospitalized">167*</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">*Includes ICU cases</p> -->
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="panel panel-primary casecount-panels">
					<div class="panel-body text-center no-padding">
						<h2 class="count-h2-title">Cases Currently in ICU<br>
							&nbsp;</h2>

						<div class="panel-heading casecount-total">
							<h3 class="casecount-panel-title" data-panel-role="cases-ICU">35</h3>
						</div>
					</div>
				</div>

				<!-- <p style="font-style: italic; color: #636466;">ICU - Intensive Care Units</p> -->
			</div>
		</div>

		<p>&nbsp;</p>

	</div>
  </div>

  </section>

  <!-- Main Content -->
  <div class="container" id="news">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">



        <% for(var i = 0; i < posts.length; i++) { %>
          <% var post = posts[i] %>
          <div class="post-preview" data-post-role="frame">
            <a href="/posts/<%= post._id %>">
              <h2 class="post-title" data-post-role="title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle" data-post-role="content">
                <%= post.content %>
              </h3>
            </a>
            <p class="post-meta" data-post-role="author">Posted by
              <a href="#"><%= post.author %></a>
              on <%= post.postDate %></p>
          </div>
          <hr>
        <% } %>
        
        
      
    
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
